body {
    background-image: url(bandara.jpg);
    background-color: #C0C0C0;
    text-align: center;
    background-size: cover;
}

.navbar {
    background-color: black;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
  